!!! 5
%html
  %head
    %link{ :rel=>"stylesheet", :type=>"text/css", :href=>"stylesheets/application.css"}
    %meta{'http-equiv'=>"Content-Type", :content=>"text/html; charset=UTF-8"}
  %body
    .warn_message
      %p
        Gracias por su interés en BiblioPRO,
        la biblioteca virtual de cuestionarios en español de
        Resultados Percibidos por los Pacientes
        (Patient Reported Outcomes- PRO)
      %p
        En breve podrá visitar nuestra nueva página Web en www.bibliopro.org
      %p
        Entre tanto puede consultar la información básica sobre los cuestionarios en español identificados hasta el momento en
        %a{ :href => 'http://bibliopro.imim.es' } http://bibliopro.imim.es
    .new_web
      %a{ :href => 'http://bibliopro.imim.es' }
        %img{:src => 'images/newweb.png'}
